@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .search_box input {
        background: #F0F0E9;
        border: medium none;
        color: #B2B2B2;
        font-family: 'roboto';
        font-size: 12px;
        font-weight: 300;
        height: 35px;
        outline: medium none;
        padding-left: 10px;
        width: 265px;
        background-image: url(../images/home/searchicon.png);
        background-repeat: no-repeat;
        background-position: 245px;
    }
    .shop-menu ul li a {
        background: #FFFFFF;
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding:0;
        padding-right: 15px;
        margin-top: 10px;
    }
}

@media(max-width:992px) {
    .search_box input {
        background: #F0F0E9;
        border: medium none;
        color: #B2B2B2;
        font-family: 'roboto';
        font-size: 12px;
        font-weight: 300;
        height: 35px;
        outline: medium none;
        padding-left: 10px;
        width: 260px;
        background-image: url(../images/home/searchicon.png);
        background-repeat: no-repeat;
        background-position: 240px;
    }
    .search_box {
        text-align: left;
        padding-left: 0px;
    }
    .shop-menu ul li a {
        background: #FFFFFF;
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding:0;
        padding-right: 5px;
        margin-top: 10px;
    }
}

.shop-menu ul li {
    padding-right: 5px;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
